h1 {
  font-size: 3.2rem; /* 30px */
  line-height: 3.6rem; /* 36px */
}

h2 {
  font-size: 2.4rem; /* 24px */
  line-height: 3.2rem; /* 32px */
}

h3 {
  font-size: 2rem; /* 20px */
  line-height: 2.8rem; /* 28px */
}

.title {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;

  @media screen and (max-width: 640px) {
    margin-top: 30px;
  }
}

.sub-title {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 70px;

  @media screen and (max-width: 640px) {
    margin-bottom: 30px;
  }
}
