:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
