.attribution {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  margin-bottom: 1.5rem;

  a {
    text-decoration: none;
    color: #64748b;
    transition: all 0.5s;
    display: inline-block;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: auto;
      right: 0;
      width: 0%;
      height: 1px;
      background-color: #64748b;
      transition: all 0.5s;
    }

    &:is(:focus, :hover) {
      color: #1e293b;

      &::before {
        width: 100%;
        left: 0;
        right: auto;
        background-color: #1e293b;
      }
    }
  }
}
