.card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  min-height: 24rem;
  background-color: var(--color-grey-1);
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
  }

  &__backdrop {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.65);
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 1), transparent); */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    /* backdrop-filter: blur(2px); */
  }

  &:hover &__backdrop {
    visibility: visible;
    opacity: 1;
  }

  .card__caption {
    color: #fff;
    text-align: center;

    h1 {
      margin-bottom: 10px;
      font-size: 28px;
    }
  }
}

/* Card-1 */

.card-1 {
  .card__backdrop {
    backdrop-filter: blur(2px);
  }

  &:hover .card__img {
    transform: scale(1.3);
  }
}

/* Card-2 */

.card-2 {
  .card__backdrop {
    backdrop-filter: blur(2px);
  }

  &:hover .card__img {
    transform: scale(1.3) rotate(15deg);
  }
}

/* Card-3 */

.card-3 {
  .card__backdrop {
    /* opacity: 1; */
    transform: translateX(-100%);
  }

  &:hover .card__backdrop {
    transform: translateX(0);
  }
}

/* Card-4 */

.card-4 {
  .card__backdrop {
    position: absolute;
    opacity: 1;
    visibility: visible;
    background: var(--color-dark);
    transform: translateX(-110%);
  }

  &:hover {
    .card__backdrop {
      transform: translateX(0);
    }

    .card__img {
      transform: translateX(100%);
    }
  }
}

/* Card-5 */

.card-5 {
  .card__backdrop {
    height: 100px;
    bottom: 0;
    visibility: visible;
    opacity: 1;
    top: auto;
    transform: translateY(100%);
    background-color: var(--color-dark);
  }

  &:hover {
    .card__backdrop {
      transform: translateY(0);
    }

    .card__img {
      transform: translateY(-100px);
    }
  }
}

/* Card-6 */

.card-6 {
  .card__backdrop {
    transform: translateY(100%);
    transition: all 0.4s;
    transition-delay: 0.75s;
  }

  .card__caption {
    h1,
    p {
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s;
      transform: translateY(-30px);
    }

    p {
      transition-delay: 0.25s !important;
    }
  }

  &:hover {
    .card__backdrop {
      transform: translateY(0);
      transition-delay: 0s;
    }

    .card__caption {
      h1,
      p {
        opacity: 1;
        visibility: visible;

        transform: translateY(0);
      }

      h1 {
        transition-delay: 0.6s;
      }

      p {
        transition-delay: 0.4s !important;
      }
    }
  }
}

/* Card-7 */

.card-7 {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 130%;
    height: 220%;
    background-color: rgba(0, 0, 0, 0.65);
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 1), transparent); */
    opacity: 0;
    visibility: hidden;
    transform: translate(85%, 40%) rotate(45deg);
    transition: all 0.75s;
  }

  .card__caption {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card__caption {
    h1,
    p {
      transition: all 0.75s;
    }

    h1 {
      transform: translate(200px, -200px);
    }

    p {
      transform: translate(-200px, 200px);
    }
  }

  &:hover {
    &::before {
      transform: translate(-10%, -30%) rotate(45deg);
      visibility: visible;
      opacity: 1;
    }
    .card__caption {
      h1,
      p {
        transform: translate(0, 0);
      }
    }
  }
}

/* Card-8 */

.card-8 {
  .card__backdrop {
    transform: scale(0) rotate(-180deg);
    transition: all 0.3s;
  }

  /*  When you move cusor out the image should take .5s before coming back, so backdrop can disappear before the image */
  .card__img {
    transition: all 0.5s;
    transition-delay: 0.25s;
  }

  /* When hover over card wait .5s before coming to screen so image can scale down before backdrop */
  &:hover {
    .card__backdrop {
      transform: scale(1) rotate(0deg);
      transition-delay: 0.2s;
    }

    /* When you hover card image should scale down without any delay */
    .card__img {
      transform: scale(0);
      transition-delay: 0s;
    }
  }
}
/* Card-9 */

.card-9 {
  .card__backdrop {
    background-color: var(--color-dark);
    transform: translateY(-100%);
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
  }

  .card__img {
    transition-delay: 0.75s;
  }

  .card__caption {
    h1,
    p {
      transform: translateY(-30px);
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s;
    }

    p {
      transition-delay: 0.25s;
    }
  }

  &:hover {
    .card__backdrop {
      transform: translateY(0);
      transition-delay: 0.25s;
    }

    .card__img {
      transform: scale(0) rotate(720deg);
      transition-delay: 0s;
    }

    .card__caption {
      h1,
      p {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }

      h1 {
        transition-delay: 0.8s;
      }

      p {
        transition-delay: 0.6s;
      }
    }
  }
}
